body{
    background-color: black;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
}

.cabecalho{
    text-align: center;
    
}

.links{
    text-decoration: none;
}

.primeiradiv{
    background-color: rgb(39, 38, 37);
    width: 60%;
    margin: 0 auto 0 auto;
    border-radius: 5%;
    
}

.titulo, .imagem, .paragrafo{
    padding: 2%;
}

.lista{
    padding-bottom: 2%;
    
}